.buttons-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    gap: 30px;
}

.buttons-container button{
    width: 100px;
    height: 50px;
    background-color: red;
}

.buttons-container button:hover{
    cursor: pointer;
    background-color: brown;
}