@font-face {
    font-family: digital;
    src: url("../../public/digital-7.ttf");
}

.pomodoro-timer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width: 50%;
    background-color: rgb(4, 156, 4);
    border-radius: 15px;
}

.timer {
    font-family: 'digital';
    font-size: 200px;
}